{% extends 'base.html' %}
{% block title %} Gantt app {% endblock %}
{% block context %} {{ context_data|safe }} {% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'gantt/css/project.css' %}">
{% endblock %}
{% block content %}
    <div class="js-main-container d-flex container-fluid h-100 w-100 m-0 p-0">
        <div class="nav sidebar p-15 h-100 flex-column bg-primary">
            <li class="nav-item clickable">
                <div class="nav-link text-white" id="js-modal-btn-create-project">Создать проект</div>
            </li>
            <li class="nav-item clickable">
                <div class="nav-link text-white" id="js-modal-btn-project-list">Все проекты</div>
                </li>
            <li class="nav-item clickable">
                <div class="nav-link text-white" id="js-modal-btn-sidebar-tasks">Мои задачи</div>
            </li>
        </div>
        <div class="main-content-wrapper d-flex flex-column container-fluid">
            <div class="d-flex flex-column p-3 h-100 w-100">
                <div class="header-head">
                    <!-- TODO js: script add contenteditable="true" and check mark button -->
                    <div class="container-fluid row">
                        <div class="col align-items-center d-flex justify-content-start flex-row">
                            <div class="project-name p-2 d-flex">
                                <!-- TODO: To fill the value with actual one in js -->
                                <div class="clickable js-editable js-field p-1 js-project-name" data-field="project-name" data-form="project-name">Project 1</div>
                                <button class="js-btn-editable btn btn-sm btn-primary d-none js-field-submit" data-form="project-name" data-related="project-name"><i class="fa fa-check"></i></button>
                            </div>
                            <div class="dropdown">
                                <button class="btn list-group-item-success dropdown-toggle js-project-status" type="button" data-toggle="dropdown">По графику
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <!-- TODO: Add proper styles-->
                                    <li class="dropdown-menu-item dropdown-menu__item p-2 list-group-item-info">Не установлен</li>
                                    <li class="dropdown-menu-item dropdown-menu__item p-2 list-group-item-success">По графику</li>
                                    <li class="dropdown-menu-item dropdown-menu__item p-2 list-group-item-danger">Просрочен</li>
                                    <li class="dropdown-menu-item dropdown-menu__item p-2 list-group-item-warning">Под угрозой</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-end flex-row">
                            <div class="role-container d-flex align-items-center">
                                <!-- * Perhaps I will do something with the style -->
                                <span class="badge badge-light p-3 js-project-role">Владелец проекта</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TODO: I gotta add tips for some navbar elements -->
                <div class="navbar">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active js-navbar-item" data-toggle="tab" href="#js-navbar-chart-tab">Диаграмма</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-navbar-item" data-toggle="tab" href="#js-navbar-members-tab">Люди</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-fill d-flex main-content tab-content">
                    <!-- TODO: Gotta implement API request and tab loading-->
                    <div id="js-navbar-chart-tab" class="container tab-pane active">
                        <div class="d-flex chart-wrapper h-100">
                            <div class="card h-100 chart-table js-resizable">
                                <div class="container-fluid chart-table-container">
                                    <div class="row chart-table__header-container header-container">
                                        <div class="header-container__item col-md-4">Задача</div>
                                        <div class="header-container__item col-md-3">Исполнитель</div>
                                        <div class="header-container__item col-md-2">Статус</div>
                                        <div class="header-container__item col">Начало</div>
                                        <div class="header-container__item col">Завершение</div>
                                    </div>
                                    <div class="chart-table-data-wrapper js-sync-scrollable">
                                        <div class="chart-table-data-area js-grid-layout-table-container">
                                            
                                        </div>
                                        <div class="chart-table__task-row task-row chart-table-btns-wrapper">
                                            <div class="header-container__item chart-table_add-container col-md-7">
                                                <div class="chart-table_add-row chart-table_add-row_add-task js-add-task"><i class="fa fa-plus"></i>Добавить задачу</div>
                                                <div class="chart-table_add-row chart-table_add-row_add-milestone js-add-milestone">Добавить веху</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-fill gantt-chart card">
                                <div class="container-fluid gantt-chart-container">
                                    <div class="row gantt-chart__header-container header-container js-grid-layout-months">
                                       <!-- TODO: Further, I gotta replace it with the JS to update this columns comnining with API endpoint sending data of mounths-->
                                    </div>
                                    <div class="row gantt-chart__header-container header-container js-grid-layout-days"></div>
                                    <div class="gantt-chart-data-wrapper">
                                        <div class="gantt-chart-data-area js-grid-layout-container">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="js-navbar-members-tab" class="container tab-pane fade">
                        <h3>Team members details</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
                    </div>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <div class="js-modal-blur modal fade" id="modal-create-project">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Создайте проект</h4>
                </div>
                <!-- TODO: Change class to smth else-->
                <form class="js-form-project" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group row d-flex justify-content-center">
                            <div class="col">
                                <label>Название проекта:</label>
                            </div>
                            <div class="col">
                                <input type="text" name="name" autofocus="">
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <div class="col">
                                <label>Дата начала:</label>
                            </div>
                            <div class="col">
                                <input type="date" name="start_date" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-transparent">
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="js-modal-blur modal fade" id="modal-project-list">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Выберите проект</h4>
                </div>
                <div class="modal-body project-list-container">
                    <ul class="group-list container-fluid project-list js-project-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="js-modal-blur modal fade" id="modal-create-task">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавить задачу</h4>
                </div>
                <form class="js-form-task" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group row d-flex justify-content-center">
                            <div class="col">
                                <label>Название задачи:</label>
                            </div>
                            <div class="col">
                                <input type="text" name="name" autofocus="">
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <div class="col">
                                <label>Дата и время начала:</label>
                            </div>
                            <div class="col">
                                <input type="datetime-local" name="start_datetime" required>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <div class="col">
                                <label>Дата и время завершения:</label>
                            </div>
                            <div class="col">
                                <input type="datetime-local" name="end_datetime" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-transparent">
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script type="module" src="{% static 'gantt/js/index.js' %}"></script>
<script src="{% static 'gantt/js/resizable.js' %}"></script>
{% endblock %}